<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pusilkom.ess.model.mapper.EmployeeContractMapper">
  <resultMap id="EmployeeItemResultMap" type="com.pusilkom.ess.dto.table.EmployeeContractItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="end_date" jdbcType="VARCHAR" property="endDate" />
    <result column="is_active" jdbcType="BOOLEAN" property="isActive" />
    <result column="signee" jdbcType="VARCHAR" property="signee" />
  </resultMap>

  <sql id="Main_Query">
    SELECT * FROM employee_contract
  </sql>
  <sql id="Criteria_Where_Clause">
    <where>
      <if test="searchForm.employeeId != null">
        AND employee_id = #{searchForm.employeeId}
      </if>
    </where>

    ${searchForm.orderQuery}
  </sql>

  <select id="getListEmployeeContractItemBySearchForm" resultMap="EmployeeItemResultMap" parameterType="map">

    <include refid="Main_Query"/>
    <include refid="Criteria_Where_Clause"/>

    OFFSET #{searchForm.from} - 1 LIMIT #{searchForm.perPage}
  </select>

  <select id="getTotalEmployeeContractItemBySearchForm" resultType="java.lang.Long" parameterType="map">
    SELECT COUNT(*) FROM
    (
    <include refid="Main_Query"/>
    <include refid="Criteria_Where_Clause"/>
    ) as foo
  </select>

</mapper>