<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pusilkom.ess.model.mapper.ProjectContractMapper">
  <resultMap id="CustomResultMap" type="com.pusilkom.ess.dto.table.ProjectContractItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="name" jdbcType="VARCHAR" property="projectName" />
    <result column="contract_number" jdbcType="VARCHAR" property="contractNumber" />
    <result column="contract_date" jdbcType="DATE" property="contractDate" />
    <result column="contractDateString" jdbcType="VARCHAR" property="contractDateString" />
    <result column="signee1" jdbcType="VARCHAR" property="signee1" />
    <result column="signee2" jdbcType="VARCHAR" property="signee2" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="created_by" jdbcType="INTEGER" property="createdBy" />
    <result column="updated_date" jdbcType="TIMESTAMP" property="updatedDate" />
    <result column="updated_by" jdbcType="INTEGER" property="updatedBy" />
  </resultMap>

  <select id="getListProjectContractItemBySearchForm" resultMap="CustomResultMap" parameterType="map">
    select p.name, c.*, TO_CHAR(contract_date, 'DD-MM-YYYY') as contractDateString
    from project_contract c
    left join project p on c.project_id = p.id
    <where>
      <if test="searchForm.projectId != '' and searchForm.projectId != null">
        AND project_id = #{searchForm.projectId}
      </if>
      <if test="searchForm.contractNumber != '' and searchForm.contractNumber != null">
        AND upper(contract_number) LIKE '%' || upper(#{searchForm.contractNumber}) || '%'
      </if>
      <if test="searchForm.signee1 != '' and searchForm.signee1 != null">
        AND upper(signee1) LIKE '%' || upper(#{searchForm.signee1}) || '%'
      </if>
      <if test="searchForm.signee2 != '' and searchForm.signee2 != null">
        AND upper(signee2) LIKE '%' || upper(#{searchForm.signee2}) || '%'
      </if>
    </where>
    ${searchForm.orderQuery}
    OFFSET #{searchForm.from} - 1 LIMIT #{searchForm.perPage}
  </select>

  <select id="getProjectContractItemById" resultMap="CustomResultMap" parameterType="map">
    select p.name, c.*, TO_CHAR(contract_date, 'DD-MM-YYYY') as contractDateString
    from project_contract c
    left join project p on c.project_id = p.id
    where c.id = #{idProjectContract}
  </select>

  <select id="getTotalProjectContractItemBySearchForm" resultType="java.lang.Long" parameterType="map">
    SELECT COUNT(*) FROM
    project_contract
  </select>


</mapper>


