<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pusilkom.ess.model.mapper.SubProAssignmentMapper">
  <resultMap id="CustomResultMap" type="com.pusilkom.ess.dto.table.SubProAssignmentItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="sub_project_id" jdbcType="INTEGER" property="subProjectId" />
    <result column="flag_aktif" jdbcType="BIT" property="flagAktif" />
    <result column="satuan" jdbcType="INTEGER" property="satuan" />
    <result column="sub_pro_name" jdbcType="VARCHAR" property="subProName" />
    <result column="spv_name" jdbcType="VARCHAR" property="spvName" />
  </resultMap>

  <select id="getListSubProAssignItemByEmployeeId" resultMap="CustomResultMap" parameterType="map">
    select m.name as spv_name, sp.sub_project_name as sub_pro_name, spa.*
    from sub_pro_assignment spa
           left join project_assignment pa on spa.project_assign_id = pa.id
           left join sub_project sp on spa.sub_project_id = sp.id
           left join master_reference m on sp.supervisor = m.id
    where pa.employee_id = #{idEmployee}
  </select>

  <select id="getListProjectItemBySearchForm" resultMap="CustomResultMap" parameterType="map">

    select o."name" as organization, p.*, m."name" as status, TO_CHAR(start_date, 'DD-MM-YYYY') as startdate, TO_CHAR(end_date, 'DD-MM-YYYY') as enddate
    from project p
    left join master_reference m on p.status_id = m.id
    left join organization o on p.organization_id = o.id
    where m.reference_type = 'Project Status'
      <if test="searchForm.organizationId != '' and searchForm.organizationId != null">
        AND organization_id = #{searchForm.organizationId}
      </if>
      <if test="searchForm.fundingType != '' and searchForm.fundingType != null">
        AND funding_type = #{searchForm.fundingType}
      </if>
      <if test="searchForm.client != '' and searchForm.client != null">
        AND upper(client) LIKE '%' || upper(#{searchForm.client}) || '%'
      </if>
      <if test="searchForm.statusId != '' and searchForm.statusId != null">
        AND status_id = #{searchForm.statusId}
      </if>
    <if test="searchForm.name != '' and searchForm.name != null">
      AND upper(name) LIKE '%' || upper(#{searchForm.name}) || '%'
    </if>

    OFFSET #{searchForm.from} - 1 LIMIT #{searchForm.perPage}
  </select>

  <select id="getTotalProjectItemBySearchForm" resultType="java.lang.Long" parameterType="map">
    SELECT COUNT(*) FROM
    project
  </select>

  <select id="getProjectItemByIdProject" resultMap="CustomResultMap" parameterType="map">

    select o."name" as organization, p.*, m."name" as status, TO_CHAR(start_date, 'DD-MM-YYYY') as startdate, TO_CHAR(end_date, 'DD-MM-YYYY') as enddate
    from project p
    left join master_reference m on p.status_id = m.id
    left join organization o on p.organization_id = o.id
    where p.id = #{idProject} and
    m.reference_type = 'Project Status'
  </select>


</mapper>


