<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pusilkom.ess.model.mapper.UserwebHasRoleMapper">
  <resultMap id="CustomResultMap" type="com.pusilkom.ess.dto.table.UserWebHasRoleItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="id_userweb" jdbcType="BIGINT" property="idUserweb" />
    <result column="id_role" jdbcType="BIGINT" property="idRole" />
    <result column="username_string" jdbcType="VARCHAR" property="usernameString" />
    <result column="role_string" jdbcType="VARCHAR" property="roleString" />
  </resultMap>

  <sql id="Main_Query">
    select distinct uhr.id_userweb
    from userweb_has_role uhr
      left join userweb u on uhr.id_userweb = u.id
      left join role r on uhr.id_role = r.id
  </sql>

  <sql id="Criteria_Where_Clause">
    <where>
      <if test="searchForm.usernameString != '' and searchForm.usernameString != null">
        AND upper(u.username) LIKE '%' || upper(#{searchForm.usernameString}) || '%'
      </if>
      <if test="searchForm.idRole != '' and searchForm.idRole != null">
        AND id_role = #{searchForm.idRole}
      </if>
    </where>
    ${searchForm.orderQuery}
  </sql>

  <select id="getListUserwebHasRoleBySearchForm" resultMap="CustomResultMap" parameterType="map">
    <include refid="Main_Query"/>
    <include refid="Criteria_Where_Clause"/>

    OFFSET #{searchForm.from} - 1 LIMIT #{searchForm.perPage}
  </select>

  <select id="getTotalUserwebHasRoleItemBySearchForm" resultType="java.lang.Long" parameterType="map">
    SELECT COUNT(*) FROM
    (
    <include refid="Main_Query"/>
    <include refid="Criteria_Where_Clause"/>
    ) as foo
  </select>

  <select id="getListUserWebHasRoleByIdUserweb" resultMap="CustomResultMap" parameterType="map">
    select uhr.*, u.username as username_string, r.label as role_string
    from userweb_has_role uhr
      left join userweb u on uhr.id_userweb = u.id
      left join role r on uhr.id_role = r.id
    where uhr.id_userweb = #{idUserweb}
  </select>

</mapper>


